/*initial colors from http://www.colourlovers.com/palette/723615/clairedelune*/

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, sans-serif;
    color: #111;
    line-height: 1.5em;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(247, 228, 190, 0.5);
}

h1 {
    font-size: 2.5rem;
    color: rgb(65, 62, 74);
}

h2 {
    font-size: 1.75rem;
    color: rgba(65, 62, 74, 0.625);
}

h3 {
    font-size: 1.5rem;
    color: rgba(65, 62, 74, 0.375);
}

h3.section {
    margin-top: 1em;
}

.snippet-summary .header {
    margin-bottom: 3rem;
}

#demo a {
    font-size: 0.875em;
    text-decoration: none;
}

header {
    font-family: 'Permanent Marker', cursive;
    font-size: 7rem;
    width: 100%;
    height: 1em;
    margin-bottom: 0.25em;
    line-height: 0.75em;
    text-align: center;
}

a {
    color: rgb(179, 129, 132);
}

a:visited {
    color: rgb(115, 98, 110);
}

header a {
    color: rgb(179, 129, 132);
    text-decoration: none;
    cursor: pointer;
}

h1.title {
    display: inline-block;
    width: 100%;
}

h1 .title-text {
    display: inline-block;
    width: calc(50% - 8px);
}

h1.title .table-of-contents {
    width: calc(50% - 8px);
}

h2.subtitle {
    margin-top: -1em;
}

.table-of-contents {
    opacity: 0.75;
    text-align: right;
    position: relative;
    top: -0.125em;
    display: inline-block;
    padding: 0;
    font-size: 0.625em;
}

.table-of-contents li {
    list-style-type: none;
    display: inline-block;
}

.table-of-contents li:after {
    content: " —";
}

.table-of-contents li:last-child:after {
    content: "";
}

.table-of-contents a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
}

.snippet-summary > section {
    margin-top: 3.5em;
}

section .description {
    padding-bottom: 1em;
}

iframe.demo,
section.code,
video.screencast {
    border: none;
    box-shadow: inset 0px 0px 10px 0px #777777;
}

.screencast {
    width: 100%;
}

.snippet-card {
    position: relative;
    /*display: inline-block;*/
    height: 250px;
    width: 250px;
    margin-right:20px;
}

.snippet-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.snippet-card h2 {
    text-align: center;
}


/* Hovering/fade-in effects for snippet-card*/

.snippet-card img {
    opacity: 0.125;
}

.snippet-card,
.snippet-card img {
    transition: 0.25s;
}

.snippet-card:hover img {
    opacity: 1;
}

.snippet-card:hover h2,
.snippet-card:hover p {
    opacity: 0.5;
}

section.code {
    margin-left: auto;
    margin-right: auto;
    width: 80em;
    background-color: grey;
}

#snippet-grid {
    display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(10, 250px);
}
