---
layout: default
---

<main id="snippet-grid" style="padding: 1em;">

{% for snippet in site.pages | where: 'category', 'snippet' %}
  {% if snippet.title %}
    <div id='snippet-{{ snippet.id }}' class='snippet-card'>
        <img src='{{ snippet.url }}background.png'>
        <h2><a href='{{ snippet.url }}'>{{ snippet.title }}</a></h2>
        <h3>{{ snippet.subtitle }}</h3>
    </div>
  {% endif %}
{% endfor %}
</main>
<footer style="padding: 1em;">
<!-- {% if site.posts %}
  <h2>A list of all the posts</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}" title="{{post.title}}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
 -->
 <small></small>
</footer>
